html, body {
  margin: 0;
  padding: 0;
}

.logo {
  width: 128px;
  height: 128px;
  margin: 0;
  padding: 0;
}

#title {
  padding: 0;
  font-family: 'Google Sans Display';
  font-size: 42px;
  height: auto;
  text-align: center;
  margin-bottom: 14px;
  margin-top: 12px;
}

#header {
  background-color: #E9E3DB;
  color: #3C4043;
  text-align: center;
  padding-top: 26px;
  padding-bottom: 20px;
}

#content {
    padding-top: 20px;
    text-align: center;
}

.sub_title {
  padding: 0;
  font-family: 'Google Sans Display';
  font-size: 24px;
  height: auto;
  margin-bottom: 26px;
}

.text {
  padding: 0;
  font-family: 'Google Sans Display';
  font-size: 16px;
  height: auto;
  margin-bottom: 26px;
}

.code {
}

a {
  color: #3C4043;
}

